<main> 
  <div class="banner">
      <ul>
          <li>
            <img src="https://cdn.dribbble.com/users/3884350/screenshots/11245201/media/e1293b38e8c0fbf2e935dbf3c2fd6438.png"></img>
          </li>
          <li>
            <img src="https://cdn.dribbble.com/users/3884350/screenshots/11245201/media/e1293b38e8c0fbf2e935dbf3c2fd6438.png"></img>
          </li>
          <li>
            <img src="https://cdn.dribbble.com/users/3884350/screenshots/11245201/media/e1293b38e8c0fbf2e935dbf3c2fd6438.png"></img>
        </li>
      </ul>
  </div>
</main>