<main> 
  <div class="jumbotron">
    <div class="container">
      <h2>Hello. My name is <span class="highlight">Malin</span> and I have built this website</h2>
      <button type="button">
        <%= link_to "View my Work!", portfolio_path(@portfolio) %>
      </button>
    </div>
  </div>    
</main>